.font-navy {
    color: #1f3364;
    font-weight: 400;
}

/* Button */
.btn-navy {
    background-color: #1f3364;
    color: #ffff;
    box-shadow: 0px 8px 15px rgba(31, 51, 100, 0.32);
    transition: all 0.3s ease 0s;
}

.btn-navy:hover {
    background-color: #1f3364;
    color: #ffff;
    box-shadow: 0px 8px 15px rgba(31, 51, 100, 0.32);
    transform: translateY(-7px);
}

.btn-orens {
    background-color: #ff903a;
    color: #ffff;
    box-shadow: 0px 8px 15px rgba(231, 120, 36, 0.32);
    transition: all 0.3s ease 0s;
}

.btn-orens:hover {
    background-color: #ff7c17;
    color: #ffff;
    transform: translateY(-7px);
}

/* Radio look like button */
input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    padding: 6px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 200;
    color: #9c9c9c;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #d6d6d6;
}

input[type=radio]:checked+label {
    background-color: #ff6f0012;
    border: 1px solid #ff6f00;
    color: #ff6f00;
}


/* Navigation menu */
.kt-aside {
    background-color: #eb873a !important;
}

.kt-aside-menu {
    background-color: #eb873a !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link {
    background-color: #1f3364 !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-icon {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__section .kt-menu__section-text {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-text {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__ver-arrow {
    color: #ffffff !important;
}

.kt-menu__link:hover {
    background-color: #1f3364 !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link {
    background-color: #1f3364 !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item>.kt-menu__link .kt-menu__link-text {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item>.kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot>span {
    background-color: #ffffff !important;
}


/* Content area */
@media (min-width: 1025px) {
    .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 75px;
    }
}