.font-navy {
    color: #077e5b;
    font-weight: 400;
}

/* Button */
.btn-navy {
    background-color: #077e5b;
    color: #ffff;
    box-shadow: 0px 8px 15px rgba(31, 51, 100, 0.32);
    transition: all 0.3s ease 0s;
}

.btn-navy:hover {
    background-color: #077e5b;
    color: #ffff;
    box-shadow: 0px 8px 15px rgba(31, 51, 100, 0.32);
    transform: translateY(-7px);
}

.btn-orens {
    background-color: #ff903a;
    color: #ffff;
    box-shadow: 0px 8px 15px rgba(231, 120, 36, 0.32);
    transition: all 0.3s ease 0s;
}

.btn-orens:hover {
    background-color: #ff7c17;
    color: #ffff;
    transform: translateY(-7px);
}

/* Radio look like button */
input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    padding: 6px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 200;
    color: #9c9c9c;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #d6d6d6;
}

input[type=radio]:checked+label {
    background-color: #ff6f0012;
    border: 1px solid #ff6f00;
    color: #ff6f00;
}


/* Navigation menu */
.kt-aside {
    /* background-color: #00AE4D !important; */
    background-color:#efaf0c !important;
}

.kt-aside-menu {
    /* background-color: #00AE4D !important; */
    background-color:#efaf0c !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link {
    /* background-color: #077e5b !important; */
    background-color: rgba(0, 0, 0, .7) !important;
}


.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--active>.kt-menu__link .kt-menu__link-icon {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__section .kt-menu__section-text {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-text {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__ver-arrow {
    color: #ffffff !important;
}

.kt-menu__link:hover {
    /* background-color: #077e5b !important; */
    background-color: rgba(0, 0, 0, .7) !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item.kt-menu__item--open>.kt-menu__link {
    /* background-color: #077e5b !important; */
    background-color: rgba(0, 0, 0, .7) !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item>.kt-menu__link .kt-menu__link-text {
    color: #ffffff !important;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item .kt-menu__submenu .kt-menu__item>.kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot>span {
    background-color: #ffffff !important;
}


/* Content area */
@media (min-width: 1025px) {
    .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 75px;
    }
}

/* Widget Pallet */
.bg-green-custom {
    background-color: #00ae4d;
    color: #fff;
    border-bottom: 3px solid #00ae4d;
}

.kt-portlet.kt-portlet--border-bottom-green {
    border-bottom: 3px solid #00ae4d;
}


/* replaced */

.btn-wms {
    color: #403A38;
    background-color: #FED700;
    border-color: #FED700;
    font-weight: 600 !important;
}

.btn-wms:hover {
    color: #403A38;
    background-color: #fddd26 !important;
    border-color: #fddd26 !important;
    font-weight: 600 !important;
}

.btn.btn-wms.btn-elevate {
    -webkit-box-shadow: 0px 4px 16px 0px rgba(187, 184, 10, 0.15);
    box-shadow: 0px 4px 16px 0px rgba(187, 184, 10, 0.15);
}

.btn.btn-wms {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.show > .btn.btn-wms.btn-elevate, .btn.btn-wms.btn-elevate:focus, .btn.btn-wms.btn-elevate.active, .btn.btn-wms.btn-elevate:active, .btn.btn-wms.btn-elevate:hover {
    -webkit-box-shadow: 0px 9px 16px 0px rgba(200, 198, 29, .3) !important;
    box-shadow: 0px 9px 16px 0px rgba(200, 198, 29, 0.3) !important;
}

.text-kiri {
    text-align: left !important;
}

.mr1{margin-right: 1rem;} .mr2{margin-right: 2rem;} .mr3{margin-right: 3rem;}
.gd-a-color-1 {color: #00AE4D} .gd-a-color-2 {color: #B51C64} .gd-a-color-3 {color: #8653B5} .gd-a-color-4 {color: #FAAE32} .gd-a-color-5 {color: #B56D1C}
.v-middle-flex-center { display:flex; align-items: center;}